<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>90</real>
	<key>angleVariance</key>
	<real>8</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>0.699999988079071</real>
	<key>finishColorBlue</key>
	<real>0.699999988079071</real>
	<key>finishColorGreen</key>
	<real>0.699999988079071</real>
	<key>finishColorRed</key>
	<real>0.699999988079071</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>30</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>15</real>
	<key>gravityy</key>
	<real>40</real>
	<key>maxParticles</key>
	<real>5</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>2.5</real>
	<key>particleLifespanVariance</key>
	<real>0.5</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>40</real>
	<key>sourcePositionVariancey</key>
	<real>15</real>
	<key>sourcePositionx</key>
	<real>751.91552734375</real>
	<key>sourcePositiony</key>
	<real>299.0204162597656</real>
	<key>speed</key>
	<real>0</real>
	<key>speedVariance</key>
	<real>0</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>10</real>
	<key>startParticleSizeVariance</key>
	<real>30</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>coffeSmoke.tiff</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAEwEWAun9iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAdBJREFUKBVFkTtuFEEQhqt7pue13hmQOIBTCyEBEgKEEMlm+AY+AIdwQuTc4hYIAq6ACJCQSIiQM2xhD9hedryzs/Pq5us1FjX7q3q76v/r0ar8VUpkIhnHcc8Ys5skyXut9Tdr7a5z7l4QBEf4d/z/Ljd2enYqZVkeNE1DzDmCa+xn3/eVPw/D4FarlavreoYXD3V8cvw4L/LP+Vbudc5BDxrwB3QggXx/uVx+QuC5UkrCyWQyy9KM2CYhwHtC6y+wCPg7oXJHI+JJ2sRmsMLnrA8a4BNT4JW8T0lumfkBlR7iRdvRfvAqngTVOHEJSRktTfFTSDnLqG9jYRgechY9v5hvkxAprW6qJShmCE1R9ci8SBiEwnaf0d7dkIvXaZTSeOCsslCVIlEDR4Jr2xang0Br4bzkfqGzLPvhh8OUFiIiOo5jFFxYLSpT143hCYLqqpKu6/dJO9FU2m/WzW8U/IYIdNeV7KDW7drHFfdfIb5E8A0PL6EoOaLSDkt4RfApAk9o8Q4zquJWIXEUnw3DOLu8PJ8jIPwgXdsFrR2wHSny4hFCbxHa9qoIHEaRzNt2SxaLimX8J22o6DCV/gJ2eIIXbLWB/FEz7b+5N3l/ASxdI8kPEmPfAAAAAElFTkSuQmCCYujlBBYCAAA=</string>
</dict>
</plist>
